@tailwind base;
@tailwind components;
@tailwind utilities;

.rounded-corner {
  position: relative;
}

.rounded-corner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background-color: #056ddc;
  border-radius: 0 10px 10px 0;
}

.custom-select {
  appearance: none; /* Hide default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%236B6F7B' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'><path d='M5.5 7l4.5 5 4.5-5h-9z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.3rem center; /* Move arrow slightly left */
  background-size: 18px;
  padding-right: 0.5rem; /* Ensure text doesn’t overlap with arrow */
}

.custom-shadow {
  box-shadow: 0px 1px 6px 0.3px #0000004d;
}

.ql-editor {
  line-height: 21px !important;
  padding: 10px 15px !important;
  overflow: auto;
}

.ql-editor hr {
  margin-block: 20px;
}

.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  font-weight: 600;
  color: #000000;
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #e3e2e2;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 122, 255);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #98a2b3;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hover-scrollbar {
  /* Always reserve space for scrollbar to prevent layout shift */
  scrollbar-gutter: stable;
  overflow-y: auto;

  /* Hide scrollbar by default */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: 2px; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hover-scrollbar::-webkit-scrollbar {
  width: 2px;
}

/* Error Message for Form Inputs */
.error-message {
  color: red;
  font-size: 11px;
  display: block;
  margin-top: 3px;
}

/* Astrik to show in required fields lable */
.required-field-label::before {
  display: inline-block;
  margin-inline-end: 2px;
  color: red;
  font-size: 12px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
  vertical-align: super;
}

.primary-button {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 5px;
  padding-bottom: 5px;
  border-width: 1px;
  border-color: #007aff;
  border-radius: 100px;
  color: white;
  background-color: #007aff;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 0.75rem;
  font-weight: 600;
  cursor: pointer;
}

.primary-button:hover {
  background-image: linear-gradient(
    to right,
    #007aff,
    #005bbb
  );
}

.secondary-button {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 100px;
  color: #65558f;
  border-width: 1px;
  border-color: #79747e;
  font-size: 0.75rem;
  font-weight: 600;
  cursor: pointer;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.secondary-button:hover {
  background-image: linear-gradient(
    to right,
    #ece8f2,
    #dcd6e6
  );
}
